<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for the payment processing foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- Required on Android 13+ to post the progress notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Payment processing foreground service -->
        <service
            android:name=".PaymentForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Needed to query specific screen-recorder packages (API 30+) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <!-- Known screen-recorder packages checked by SecurityPlugin -->
        <package android:name="com.mobzapp.screenrecord" />
        <package android:name="com.hecorat.screenrecorder.free" />
        <package android:name="com.kimcy929.screenrecorder" />
        <package android:name="com.nll.screenrecorder" />
        <package android:name="com.ionitech.airscreen" />
        <package android:name="com.apowersoft.android.recorder" />
        <package android:name="com.duapps.recorder" />
    </queries>

</manifest>
